*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: var(--Soft-Blue); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

:root{
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
--Very-Dark-Blue: hsl(229, 31%, 21%);

}

#nav{
   
    align-items: center;
    padding: 20px 80px;
    background-color: azure;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navlinks a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding-right: 40px;
    font-size: 15px;
}
.navlinks a:hover{
    color: rgb(223, 70, 9);
   
}

.topbut a{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--Soft-Blue);
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgba(80, 80, 80, 0.541);
   
}
.topbut a:hover{
    color: var(--Soft-Red);
    background-color: transparent;
    border: 1px solid rgb(223, 70, 9);

   
    
}
#manager{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.man{
    width: 50%;
    line-height: 20px;
}
.text h1{
    padding: 10px 60px;
    font-size: 30px;
    line-height: 40px;
}
.text p{
    padding: 10px 60px;
    font-size: 15px;
    line-height: 20px;
}
.button{
    padding: 30px 60px;
    justify-content: space-between; 
}
.but1{
    border-radius: 5px;
    background-color: var(--Soft-Blue);
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgba(80, 80, 80, 0.541);
}
.but2{
    border-radius: 5px;
    background-color: var(--Soft-Red);
    padding: 10px 20px;
    box-shadow: 5px 5px 10px  rgba(68, 68, 68, 0.562);
}
.button a{
    text-decoration: none rgb(192, 207, 248);
    color: white;
}
.but1:hover{
    color: rgb(10, 44, 197);
    background-color: transparent;
    border: 1px solid blue;

}
.but2:hover{
    color: rgb(10, 44, 197);
    background-color: transparent;
    border: 1px solid grey;

}
#features{
    width: 40%;
    margin: auto;
    padding: 40px 20px;

}
.text2{
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
}
.text2 h1{
    font-size: 30px;
    padding-bottom: 30px;

}
.text2 p{
    font-size: 15px;
}
#onclick{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding: 20px 100px;
}
#onclick h1{
    font-size: 30px;
    padding: 0px 0px;
}
#onclick p{
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 25px;
}
#onclick a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: rgb(95, 115, 226);
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgb(138, 167, 247);
}
#onclick a:hover{
    color: var(--Soft-Blue);
    background-color: transparent;
    border: 1px solid blue;

}
#extention{
    text-align: center;
    padding: 40px 60px;
}
#extention a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    border-radius: 10px;
    background-color: var(--Soft-Blue);
    font-size: 10px;
    padding: 10px 20px;
    
}
#extention a:hover{
    color: var(--Soft-Blue);
    background-color: transparent;
    border: 1px solid blue;

}
.text3 h1{
    font-size: 30px;
    padding: 30px 20px;
}
.text3 p{
    font-size: 15px;
    padding-bottom: 50px;
}
.box{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
}

.box1{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(163, 147, 140);
    padding: 60px 20px;
    width: 20%;
    line-height: 30px;
    position: relative;
}
.im{
    width: 25%;
    padding-bottom: 20px;
}
.dot{
    width: 100%;
   
}
.box2{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(163, 147, 140);
    padding: 60px 20px;
    width: 20%;
    line-height: 30px;
    position: relative;
    top: 20px;
}
.box3{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(163, 147, 140);
    padding: 60px 20px;
    width: 20%;
    line-height: 30px;
    position: relative;
    top: 40px;
}
#faq{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    line-height:20px;
    padding: 50px 0px;
}
.faqs{
    text-align: center;
    padding: 10px 60px;
}
.faqs h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.faqs p{
    padding-bottom: 30px;
    padding-top: 10px;
    
}
.zika{
    display: flex;
   justify-content: space-between;
   line-height: 100px;

}
.zika a{
   text-decoration: none;
   color: blue;
   font-size: 40px;
   padding-left: 20px;
   cursor: pointer;
}
.zika a:hover{
    color: rgb(250, 7, 7);
}
.info{
   padding-left: 250px;
   padding-top: 40px;
}
.info a{
    text-decoration: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 7px 15px;  
}
.info a:hover{
    color: var(--Soft-Blue);
}
#joined{
   background-color: rgba(23, 23, 250, 0.849);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   padding: 40px 20px;
   color: white;
}
.up h4{
    padding-bottom: 40px;
    font-size: 20px;
}
.up h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.enter{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.ext{
    padding: 10px 15px;
}
.enter a{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 10px 20px;
}
.enter a:hover{
    color: var(--Soft-Red);
    background-color: transparent;
    border: 1px solid var(--Soft-Red);

}

#bottom{
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    background-color: rgb(90, 98, 107);
}
.about{
    display: flex;
    gap: 40px;
}
.about a{
    color: rgb(3, 3, 48);
    text-decoration: none;
}
.about a:hover{
    color: var(--Soft-Red);
}

.icon{
    display: flex;
    gap: 15px;
    font-size: 30px;
}
.icon a{
    color: white;
    text-decoration: none;
}
.icon a:hover{
    color: var(--Soft-Red);
}
.navtoogle{
    display: none;
}
.navlinks div{
    display: none;
}


@media screen and (max-width:992px){
    #nav{
       padding-right: 120px;
       padding-left: 100px;

    }
    .top{
        justify-content: space-between;
        gap: 20px;
    }
    #manager{
        display: flex;
        flex-direction: column-reverse;
        padding: 40px 70px 10px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 20px;
        
    }
    .man{
        width: 80%;
    }
    #features{
        width: 60%;
        text-align: center;
        align-items: center;
        padding: 10px 20px 40px;
        font-size: 20px;
    }
    #onclick{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 20px;
    }
    .box1{
        width: 30%;
    }
    .box2{
        width: 30%;
    }
    .box3{
        width: 30%;
    }
    .faqs h1{
       line-height: 40px;
    }
    .info{
        padding-left: 160px;
    }
    
}
@media  screen and (max-width:768px){
 
 #nav{
    padding: 20px 30px;
 }
 #manager{
    padding: 20px 40px;
    font-size: 10px;
 }
 #manager img{
    width: 80%;
 }
 #onclick img{
    width: 80%;
    padding-bottom: 40px;
 }
 #onclick a{
    font-size: 15px;
 }
 .box1{
    width: 60%;
    padding: 20px;

 }
 .box1 h2{
    font-size: 18px;
 }
 .box1 p{
    font-size: 13px;
 }
 .box2{
    width: 60%;
    padding: 20px;

 }
 .box2 h2{
    font-size: 18px;
 }
 .box2 p{
    font-size: 13px;
 }
 .box3{
    width: 60%;
    padding: 20px;

 }
 .box3 h2{
    font-size: 18px;
 }
 .box3 p{
    font-size: 13px;
 }
 .im{
    width: 35%;
 }
 #extention a{
    padding: 5px;
    font-size: 8px;
 }
 #faq{
    width: 80%;
 }
 #bottom{
    padding: 30px 40px;
    align-items: center;
 }
 .image{
    width: 15%;
   
 }
 .about{
    gap: 30px;
    font-size: 15px;
    padding-left: 20px;
 }
 .icon{
    gap: 7px;
    font-size: 15px;
 }
}

@media screen and (max-width:700px){
    #nav{
        padding-right: 10px;
    }
    .navtoogle{
        display: block;
        width: 20%;
        color: black;
        margin-left: 60%; 
    }
    

    .navlinks a:nth-of-type(1) {
        border-top: 1px solid rgba(255, 255, 255, 0.267);
    }
    .close{
        display: none;
       
    }
    .topbut{
        display: none;
    }
    .navlinks a{
    font-size: 18px;
    font-weight: 300;
    color: var(--white);
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.267); 
    border-radius: 0;
    width: 70%;
    /* margin-bottom: 30px */
    }
    .navlinks div {
        padding: 0 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .navic a{
        border: none;
        
    }
    .navic a:nth-of-type(1){
        border: none;
    }
    .navic{
        position: absolute;
        bottom: 0;
    }
    
    .navlinks{
        position: fixed;
        left: 50%;
        top: -70%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100vw;
        height: 100vh;
        padding: 30px 0;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background: var(--Grayish-Blue);
        box-shadow: 10px 10px 20px rgb(89, 90, 90),
                    -10px -10px 20px rgb( 89, 90, 90);
         transition:  .5s;
         
         z-index: 999;
    }
}
@media screen and (max-width:580px){ 
    .navtoogle{
        margin-left: 60%; 
    }
    #manager img{
        width: 100%;
    }
    .man{
        width: 100%;
    }
    #features{
        width: 80%;
    }
    #onclick img{
        width: 100%;
    }
    #extention{
        padding: 20px 30px;
    }
    #extention a{
        padding: 3px;
    }
    .box1{
        width: 90%;
        line-height: 20px;
    }
    .box1 h2{
        font-size: 12px;
    }
    .box1 p{
        font-size: 11px;
    }
    .box2{
        width: 90%;
        line-height: 20px;
    }
    .box2 h2{
        font-size: 12px;
    }
    .box2 p{
        font-size: 11px;
    }
    .box3{
        width: 90%;
        line-height: 20px;
    }
    .box3 h2{
        font-size: 12px;
    }
    .box3 p{
        font-size: 11px;
    }
    #faq{
        width: 90%;
    }
    .info{
        padding-left: 180px;
    }
    .up h4{
        font-size: 15px;
    }
    .up h1{
        font-size: 20px;
    }
    #bottom{
        display: flex;
        flex-direction: column;
        padding: 20px 15px;
        align-items: center;
        gap: 40px;
        justify-content: center;
        text-align: center;}
    .image{
        margin-right: 20%;
    }
       
   
    
        
}

@media screen and (max-width:480px){
    .navtoogle{
        margin-left: 45%; 
    }
    #manager img{
        width: 80%;
    }
    
    .text h1{
        padding: 10px 20px;
        font-size: 20px;
    }
    .text p{
        padding: 10px 20px;
    }
    .text2 h1{
        font-size: 20px;
    }
    .manimg{
        width: 150%;
    }
    .text3 h1{
        font-size: 20px;
    }
    #features{
        width: 100%;
    }
    #onclick{
        gap: 10px;
    }
    #onclick h1{
        font-size: 20px;
    }
    #onclick img{
        width: 170%;
    }
    .click{
        width: 200%;
        font-size: 20px;
    }
    .button{
        padding: 15px 30px;
    }
    #extention{
        padding: 10px 20px;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #faq{
        width: 100%;
        
    }
    .faqs h1{
        font-size: 20px;
    }
    .zika{
        line-height: 50px;
        font-size: 15px;
        padding: 5px 30px;
    }
    .info{
        padding-left: 130px;
    }
    .up h4{
        font-size: 15px;
    }
    .up h1{
        font-size: 20px;
    }
    .ext{
        padding: 7px 10px;
    }
    .enter a{
        padding: 7px 10px;
    }
    #bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .image{
        width: 40%;
    }
    .icon{
        gap: 15px;
        font-size: 20px;
    }
}
@media screen and (max-width:375px){
    .navtoogle{
        margin-left: 5%; 
    }
    .man{
        width: 130%;
    }
    #features{
        width: 100%;
    }
    .text2{
        line-height: 20px;
    }
    #onclick img{
        width: 200%;
    }
    .click{
        width: 200%;
    }
    #faq{
        width: 100%;
        padding: 50px 20px;
    }
    .faqs{
        padding: 10px 20px;
        width: 110%;
    }
    .zika{
        font-size: 10px;
        padding: 5px 15px;
        line-height: 20px;
    }
    .zika a{
        font-size: 15px;
    }
    .info{
        font-size: 10px;
        padding-left: 120px;
    }
    .up h4{
        font-size: 10px;
    }
    .up h1{
        font-size: 13px;
    }
    .enter{
        padding: 5px 20px; 
        display: flex;
        flex-direction: column;
    }
    .about{
        font-size: 10px;
        padding: 0px;
        padding: 0px;

    }
    


}



